.grpbutton{
    justify-content: space-evenly;
}

/* TrainSchedule.css */
.train-schedule {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }

.DemoContainer,
.DemoContainer .DatePicker-input { /* Adjust selectors as needed */
  color: white;
}
.DemoContainer {
  height: 50px;
}
.train-schedule {
  text-align: center; /* Center align the text */
  font-family: Arial, sans-serif; /* Choose a font */
  font-size: 2rem; 
  font-weight: bold;
  margin-top: 35px;
  /* Add other styles as needed, such as color, font weight, etc. */
}
.highlight {
  background-color: rgb(211, 177, 83); 
  border-radius: 5px;
  padding: 5px 5px;
}

.dateinput{

}
  